@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #6d728e;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.btn {
  @apply rounded-full py-2 px-6 text-sm text-white font-semibold uppercase leading-5 border transition duration-200 lg:py-3 lg:text-base;
}

.btn-primary {
  @apply bg-primaryBtn shadow-primary-btn-shadow border-primaryBtn  hover:bg-primaryBtnHover hover:border-primaryBtnHover;
}

.btn-primary-outline {
  @apply bg-transparent text-primaryBtn border-primaryBtn hover:bg-primaryBtn hover:text-white;
}

.btn-secondary {
  @apply border-white hover:border-primaryBtn hover:bg-primaryBtn;
}

.ficon:hover {
  filter: invert(53%) sepia(68%) saturate(84%)
    hue-rotate(121deg) brightness(101%) contrast(94%);
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
  background: #000;
}

.hamburger.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.hamburger.open .hamburger-middle {
  display: none;
}

.hamburger.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
